@page "/"

<PageTitle>Home</PageTitle>

<h1>Projects</h1>

<a class="btn btn-primary mb-3" href="add-project">Add Project</a>

@if (projects == null)
{
    <p><em>Loading...</em></p>
}
else if (projects.Count == 0)
{
    <p>No projects found.</p>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Created</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var project in projects)
            {
                <tr>
                    <td>
                        <a href="project/@project.Id">@project.Name</a>
                    </td>
                    <td>@project.CreationDate.ToString("u")</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<ProjectDto>? projects;

    protected override async Task OnInitializedAsync()
    {
        projects = await Http.GetFromJsonAsync<List<ProjectDto>>("/projects");
    }

    [Inject]
    public HttpClient Http { get; set; } = default!;
}
